<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Isil Catálogo - PC03</title>
</head>
<body>
<div class="container">
    <h3>Listado de Ciudades</h3>
    <div class="col-md-12">
        <a th:href="@{/cities/add}" class="btn btn-primary">Agregar Ciudad</a>
    </div>
    <div th:switch="cities">
        <div th:case="*">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Pais</th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="city : ${cities}">
                    <th scope="row" th:text="${city.id}"></th>
                    <td th:text="${city.name}"></td>
                    <td th:text="${city.pais}"></td>
                    <td class="text-right">
                        <div class="btn-group">
                            <a th:href="@{/cities/edit/{id}(id=${city.id})}" class="btn btn-primary btn-sm">Editar</a>
                            <a th:href="@{/cities/delete/{id} (id=${city.id})}" class="btn btn-danger btn-sm">Eliminar</a>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>