<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Isil Catálogo - PC03</title>
</head>
<body>
<div class="modal-dialog">
    <div class="main-section">
        <div class="modal-content">
            <div class="row">
                <div class="col-12">
                    <a th:href="@{/countries}" class="btn btn-primary">Mantenimiento de paises</a>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-12">
                    <a th:href="@{/cities}" class="btn btn-primary">Mantenimiento de ciudades</a>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>